#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

td, th {
  padding: 20px 40px;
  /* text-align: center; */
}

td {
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: #495057;
}

/* #4a5759 */
/* #495057 */
/* #212529 */