td, th {
  padding: 15px 20px;
  text-align: center;
}

td {
  font-size: 1rem;
}

/* table {
  border-collapse: collapse;
} */

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.bg-gray-950 {
  background-color: #1a1a1a;
}

.bg-gray-800 {
  background-color: #333;
}

