#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

td, tr {
  padding-bottom: 40px;
  text-align: center;
}

td {
  font-size: 1rem;
}

th {
  padding-bottom: 50px;
}