#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

td, tr {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: center;
  /* border: 1px black solid; */ /* for testing the spacing and alignment */
}

td {
  font-size: 0.9rem;
}


/* for testing the spacing and alignment
/* th {
  padding-bottom: 50px;
  border: 1px black solid;
} */